certifi==2018.11.29
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.10
django-markdown2==0.3.1
django-registration-redux==2.0
hellowebapp-deploy==1.0.2
idna==2.8
markdown2==2.3.7
mistune==0.8.4
Pillow==6.2.0
pytz==2018.9
requests==2.21.0
urllib3==1.24.1
whitenoise==3.3.1
pytest-django==3.9.0
betamax==0.8.1
