{% extends 'things/base.html' %}
{% load md2 %}
{% block content %}
<header class="course-name">
<h2>Napiš nám zpětnou vazbu.</h2>
<a href="{% url 'session_detail' course_slug=course.slug session_slug=session.slug %}">
<div class="comment-header">
    <div class="session-name">
        {% if session.title %}
        {{ session.title }}
        {% endif %} 
        {% if session.text != "" %}
        – {{ session.text|linebreaksbr }}
        {% endif %} 
    </div>
</div>
</a>
</header>
<div class="session-detail">
    <div class="comments-info blg">
        {% if session.course.text %}
            {{ session.course.text|markdown:"safe"|linebreaks }}
        {% else %}
            <p>Ty se učíš programovat, my se zase učíme, jak vyučovat.
            Chceme připravovat lepší kurzy, a proto potřebujeme tvou zpětnou vazbu.
            Napiš nám, jak se ti dnešní sraz líbil.<br><br>
            Stíhala jsi?<br>
            Rozuměla jsi všemu? Pokud ne - čemu? <br>
            Byla pro Tebe lekce moc těžká/lehká/akorát?<br>
            Když jsi potřebovala, pomohl Ti kouč? <br>
            Můžeme něco vylepšit? <br>
            Chceš se nás na něco zeptat? <br>
            Chceš nás zkritizovat? Jen do toho!<br><br>
            Zpětná vazba je anonymní.</p>
        {% endif %}
    </div>
    <form method="POST" class="session-form">
        {% csrf_token %}
        {{ form }}
        <div class="btn-save">
            <button type="submit" class="save">Odeslat</button>
        </div>
    </form>
</div>
{% endblock %}
