{% extends 'things/base.html' %}

{% block content %}
<header>
<a href="{% url 'session_list' course_slug=course.slug %}"><p class="course-name pltext">{{ course }}</p></a>
</header>
<div class="session-detail">
    <div class="comments-info blg">
        <div class="comment-header">
            <div class="session-name">
                <p>{{ session.title }}</p>
                <p>{{ session.text|linebreaksbr }}</p>
            </div>
        {% if session.published_date %}
            <div class="course-date">
                {{ session.published_date }}
            </div>
        {% endif %}
        </div>
        <h2>Napiš nám, jak se ti dnešní sraz líbil.</h2>
        <p>Ty se učíš Python, my se zase učíme, jak Python vyučovat.
        Chceme připravovat lepší kurzy, a proto potřebujeme tvou zpětnou vazbu.
        Stíhala jsi? Rozuměla jsi všemu? Pokud ne - čemu? Byla pro Tebe lekce moc těžká/lehká/akorát?
        Když jsi potřebovala, pomohl Ti kouč? Můžeme něco vylepšit? Chceš nás zkritizovat?
        Jen do toho!
        Zpětná vazba je anonymní.</p>
    </div>
    <form method="POST" class="session-form">
        {% csrf_token %}
        {{ form }}
        <div class="btn-save">
            <button type="submit" class="save">Odeslat</button>
        </div>
    </form>
</div>
{% endblock %}
