{% extends 'things/base.html' %}

{% block content %}
<header>
<a href="{% url 'session_list' course_slug=course.slug %}"><p class="course-name pltext">{{ course }}</p></a>
</header>
<div class="session-detail">
    <div class="comments-info blg">
        <div class="comment-header">
            <div class="session-name">
                {% if session.title %}
                    <p>{{ session.title }}</p>
                {% endif %}
                <p>{{ session.text|linebreaksbr }}</p>
            </div>
        {% if session.published_date %}
            <div class="course-date">
                {{ session.published_date }}
            </div>
        {% endif %}
        </div>
        <h2>Napiš nám zpětnou vazbu.</h2>
        <p>Ty se učíš programovat, my se zase učíme, jak vyučovat.
        Chceme připravovat lepší kurzy, a proto potřebujeme tvou zpětnou vazbu.
        Napiš nám, jak se ti dnešní sraz líbil.<br><br>
        Stíhala jsi?<br>
        Rozuměla jsi všemu? Pokud ne - čemu? <br>
        Byla pro Tebe lekce moc těžká/lehká/akorát?<br>
        Když jsi potřebovala, pomohl Ti kouč? <br>
        Můžeme něco vylepšit? <br>
        Chceš se nás na něco zeptat? <br>
        Chceš nás zkritizovat? Jen do toho!<br><br>
        Zpětná vazba je anonymní.</p>
    </div>
    <form method="POST" class="session-form">
        {% csrf_token %}
        {{ form }}
        <div class="btn-save">
            <button type="submit" class="save">Odeslat</button>
        </div>
    </form>
</div>
{% endblock %}
