{% extends 'things/base.html' %}
{% block content %}

<header>

<p class="course-name pltext">{{ course }}</p>


</header>
{% if sessions.count > 1 %}
    <h2 class="current_session">Aktuální lekce:</h2>
{% endif %}
<div class="session-list">
    {% for session in current_sessions %}
        <a href="{% url 'session_detail' course_slug=course.slug session_slug=session.slug %}">
            <div class="session blg">
                <div class="session-name">
                    <h2>{{ session.title }}</h2>
                    <p>{{ session.text|linebreaksbr }}</p>
                </div>
                <div class="session-info">
                <div class="date">
                    {{ session.published_date }}
                </div >
                <div class="plpink">
                    {% if session.comments.count == 0 %}
                        <p>Lekci zatím nikdo nehodnotil.</p>
                    {% else %}
                        <p>Hodnocení: {{ session.comments.count }}</p>
                    {% endif %}
                </div >
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% if sessions.count > 1 %}
    <h2 class="current_session">Proběhlé lekce:</h2>
{% endif %}
<div class="session-list">
    {% for session in past_sessions %}
        <a href="{% url 'session_detail' course_slug=course.slug session_slug=session.slug %}">
            <div class="session blg">
                <div class="session-name">
                    <h2>{{ session.title }}</h2>
                    <p>{{ session.text|linebreaksbr }}</p>
                </div>
                <div class="session-info">
                <div class="date">
                    {{ session.published_date }}
                </div>
                <div class="plpink">
                    {% if session.comments.count == 0 %}
                        <p>Přidej první hodnocení!</p>
                    {% else %}
                        <p>Hodnocení: {{ session.comments.count }}</p>
                    {% endif %}
                </div >
            </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}
