{% extends 'things/base.html' %}
{% block content %}
<header  class="course-name">
    <a class="course pltext border-b" href="{% url 'session_list' course_slug=course.slug %}">
        <p>{{ course }}</p>
    </a>
</header>
<h2 class="current_session">Hodnocení lekce:</h2>
<div class="session-detail">
    <div class="session blg">
        <div class="session-name">
            {% if session.title %}
                <p>{{ session.title }}</p>
            {% endif %}
            <p>{{ session.text|linebreaksbr }}</p>
        </div>
        <div class="session-info">
        <div class="date">
            {{ session.published_date }}
        </div >
        <div class="plpink">
            {% if session.comments.count == 0 %}
                <p>Lekci zatím nikdo nehodnotil.</p>
            {% else %}
                <p class="session-name">Hodnocení: {{ session.comments.count }}</p>
            {% endif %}
        </div >
        </div>
    </div>
    <div class="comment-info">
        <p>Odkaz pro přidání zpětné vazby dostaneš od organizátorky.</p>
    </div>
    <div class="comments blp">
        {% for comment in session.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div >
                {% load md2 %}
                <p>{{ comment.text|markdown:"safe"|linebreaks }}</p>

                <hr>
            </div>
        {% empty %}
            <p>Lekci zatím nikdo nehodnotil :-(</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
