{% extends 'things/base.html' %}
{% load md2 %}
{% block content %}
<header  class="course-name">
    <h2>Hodnocení lekce</h2>
    <div class="session-name pltext">
        {% if session.title %}
        {{ session.title }}
        {% endif %} 
        {% if session.text != "" %}
        – {{ session.text|linebreaksbr }}
        {% endif %} 
    </div>
    <a class="course pltext border-b" href="{% url 'session_list' course_slug=course.slug %}">
        <p>Zpět na seznam lekcí</p>
    </a>
</header>
<div class="session-detail">

    <div class="comment-info">
        <p>Odkaz pro přidání zpětné vazby dostaneš od organizátorky.</p>
    </div>
    <div class="comments blp">
        {% for comment in session.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div >
                <p>{{ comment.text|markdown:"safe"|linebreaks }}</p>
                <hr>
            </div>
        {% empty %}
            <p>Lekci zatím nikdo nehodnotil :-(</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
