{% extends 'things/base.html' %}
{% block content %}
<h2 class="current_session">Hodnocení lekce:</h2>
<div class="session-detail">
    <div class="session">
        <div class="session-name">
            <h2>{{ session.title }}</h2>
            <p>{{ session.text|linebreaksbr }}</p>
        </div>
        <div class="session-info">
        <div class="date">
            {{ session.published_date }}
        </div >
        <div class="plpink">
            {% if session.comments.count == 0 %}
                <p>Lekci zatím nikdo nehodnotil.</p>
            {% else %}
                <p>Hodnocení: {{ session.comments.count }}</p>
            {% endif %}
        </div >
        </div>
    </div>
    <div class="comments">
        {% for comment in session.comments.all %}
            <div class="comment">
                {% load md2 %}
                <p>{{ comment.text|markdown:"safe"|linebreaks }}</p>
                <div class="date">{{ comment.created_date }}</div >
                <hr>
            </div>
        {% empty %}
            <p>Lekci zatím nikdo nehodnotil :-(</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
