html { -webkit-box-sizing: border-box; box-sizing: border-box; }
*, :after, :before { -webkit-box-sizing: inherit; box-sizing: inherit; }

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 16px;
}
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	color: #fa023c;
}
a:hover {
	text-decoration: none;
	color: #e00218;
}
p a:hover {
	text-decoration: underline;
}
.pull-right li {
	padding-top: 10px;
}
.global-pyladies {
    float: none;
}
.smaller {
	font-size: 25px !important;
}
.page-header {
    position: relative;
    margin-bottom: 80px;
    border-bottom: 1px solid #fa023c;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 1.6em;
    text-decoration: none;
}
.header-text h2, .header-text p {
    margin: 0;
    color: #333;
}
.date {
    color: #555555;
    font-size: 0.8em;
    margin: 0.5em 0 2em;
}
.save {
    float: right;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 1.8em;
    margin-right: 20px;
}
.session {
    border: 10px solid #fa023c;
    padding: 20px;
    margin-bottom: 1em;
    display: block;
    width: 100%;
}
.session h2 {
    margin: 5px 0 10px;
    color: black;
    font-weight: 600;
    font-size: 2em;
}
.session p, .session h1 a:visited {
    color: #000000;
}
.session-lesson {
    display: block;
}
.logo2{
    width: 75%;
    padding: 1em;
}
.logo a {
    display: block;
}
.header-text {
    display: block;
    right: 60px;
    top: 15px;
}
.content {
    width: 100%;
    min-height: 100%;
    margin-bottom: 93px;
}
.session-list, .session-detail {
    width: 100%;
    background-color: white;
    overflow: auto;
}
.session p{
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0 0;
    padding: 0px 1px 1px;
    line-height: 0.9;
}
.comments {
    padding: 1em;
    border: 10px solid #fa023c;
    display: block;
    width: 100%;
}
.comment-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.comment-header>h2{
    margin: 0;
}
.btn, .save{
    width: 250px;
    background-color: #fa023c;
    color: white;
    line-height: 2em;
    margin: 1em 0em;
    padding: 0.8em 0em;
    font-weight: 600;
    border: none;
    display: block;
    text-align: center;
    font-size: 1em;
}
.btn-save{
    display: table;
}
.btn:hover, .btn-save>button:hover{
    background-color: #e00218;
    color: white;
}
.session-detail label {
    display: none;
}
.session-detail textarea {
    padding: 6px 10px 0;
    border: 10px solid #fa023c;
    width: 100%;
    max-width: 800px;
    display: block;
    font-size: 1em;
}
.session-form {
    margin-top: 1em;
}
.footer {
    background: #333;
    color: rgba(255, 255, 255, 0.2);
    margin-top: -77px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin: -15px;
    padding: 15px;
}
.footer .global-pyladies {
    margin-top: 26px;
    color: #aeacad;
    float: left;
}
.footer img {
    width: 40px;
    opacity: 0.5;
}
.footer ul {
    display: block;
    float: right;
}
.footer li {
    list-style: none;
    display: inline;
    padding: 0 5px;
}
.footer .clear {
    clear: both;
}
.footer a {
    color: white;
}

@media all and (min-width: 500px){
    body{
        padding: 0;
    }
    .session-detail {
        padding: 2em;
    }
    .session-detail .session {
        margin: 0;
    }
    .logo2 {
        width: 261px;
        padding: 16px 0px 0px 40px;
    }
    .current_session {
        padding: 0 1.2em ;
    }
    .session{
        margin: 1em;
        width: 250px;
        height: 210px;
    }
    .session-list {
        padding: 1em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .page-header a{
        padding: 0em 0;
    }
    .header-text {
        padding: 0 2em;
    }
    .footer {
        padding: 0 5em;
    }
}
@media all and (min-width: 740px){
    .page-header {
        padding: 0px 0px 20px 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        height: 88px;
        text-align: right;
    }
    .logo2 {
        position: absolute;
    }
    .header-text{
        position: absolute;
    }
    .session-list .session:hover{
        border: 10px solid #e00218;
    }
    .current_session {
        padding: 0 3.3em ;
        margin: 0 0 15px;
    }
    .comments {
        width: 100%;
    }
    .session-list {
         padding: 2em 4em 5em;
    }
    .session-detail{
        padding: 6em 5em;
    }
    .header-text>h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    .header-text {
        display: block;
        right: 60px;
        position: absolute;
        top: 4px;
    }
}
@media all and (min-width: 800px){
    .header-text {
        display: block;
        right: 60px;
        position: absolute;
        top: 4px;
    }
    .header-text>h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    .comments{
        max-width: 800px;
    }
}
