{% extends 'things/base.html' %}

{% block content %}
{% if sessions.count > 1 %}
    <h2 class="current_session">Aktuální lekce:</h2>
{% endif %}
<div class="session-list">
    {% for session in current_sessions %}
        <a href="{% url 'session_detail' course_name=course.course_name pk=session.pk %}">
            <div class="session">
                <h2>{{ session.title }}</h2>
                <p>{{ session.text|linebreaksbr }}</p>
                <div class="date">
                    {{ session.published_date }}
                </div>
                    {% if session.comments.count == 0 %}
                        <spnt>Přidej první hodnocení!</span>
                    {% else %}
                        <spnt>Hodnocení: {{ session.comments.count }}</span>
                    {% endif %}
            </div>
        </a>
    {% endfor %}
</div>
{% if sessions.count > 1 %}
    <h2 class="current_session">Proběhlé lekce:</h2>
{% endif %}
<div class="session-list">
    {% for session in past_sessions %}
        <a href="{% url 'session_detail' course_name=course.course_name pk=session.pk %}">
            <div class="session">
                <h2>{{ session.title }}</h2>
                <p>{{ session.text|linebreaksbr }}</p>
                <div class="date">
                    {{ session.published_date }}
                </div>
                {% if session.comments.count == 0 %}
                    <spnt>Přidej první hodnocení!</span>
                {% else %}
                    <spnt>Hodnocení: {{ session.comments.count }}</span>
                {% endif %}
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}
