{% extends 'things/base.html' %}

{% block content %}
<div class="session-detail">
    <div class="session">
        <h2>{{ session.title }}</h2>
        <p>{{ session.text|linebreaksbr }}</p>
        {% if session.published_date %}
            <div class="date">
                {{ session.published_date }}
            </div>
        {% endif %}
        {% if session.comments.count == 0 %}
            <spnt>Přidej první hodnocení!</span>
        {% else %}
            <spnt> Hodnocení: {{ session.comments.count }}</span>
        {% endif %}
    </div>


    <div class="comments">
        {% for comment in session.comments.all %}
            <div class="comment">
                <p>{{ comment.text|linebreaks }}</p>
                <hr>
            </div>
        {% empty %}
            <p>Lekci zatím nikdo nehodnotil :-(</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
